-if flash[:notice] == 'Fighter was successfully created.'
  =render partial: 'modal'

- model_class = Fighter

.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

.col-md-6
  %p
    %br
    = image_tag(fighter.avatar.url(:thumb))
  %p
    %strong= model_class.human_attribute_name(:first_name) + ':'
    %br
    =  fighter.first_name

  %p
    %strong= model_class.human_attribute_name(:last_name) + ':'
    %br
    =  fighter.last_name
  %p
    %strong= model_class.human_attribute_name(:description) + ':'
    %br
    =  fighter.description
  %p
    %strong= model_class.human_attribute_name(:badges) + ':'
    %br
    =  fighter.badges.last[:name]
  %p
    %strong= model_class.human_attribute_name(:next_badge) + ':'
    %br
    - if fighter.badges.last != Badge.last
      = "Needs #{fighter.next_badge?[:points]} points to achive #{fighter.  next_badge?[:badge][:name]} level"
    - else
      = "This is undisputed champion. Here is no next badge."
  %p
    %strong= model_class.human_attribute_name(:skills) + ':'
    %br
    %ol
      - fighter.skills.each do |skill|
        %li=skill.name
  %p.col-md-6
    %strong=  "Won fights :"
    %br
    =  fighter.wins.count
  %p.col-md-6
    %strong=  "Lost fights:"
    %br
    =  fighter.loses.count





  = link_to t('.back', :default => t("helpers.links.back")), fighters_path, :class => 'btn btn-default'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_fighter_path( fighter), :class => 'btn btn-default'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), fighter_path( fighter), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

