= simple_form_for fight, :html => { :class => 'form-horizontal' } do |f|
  = f.association :fighter, label_method: :first_name
  = f.association :opponent, label_method: :first_name
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), fights_path, :class => 'btn btn-default'
