-if flash[:success] == "Winner just got the new badge."
  =render partial: 'modal'

- model_class = Fight
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:fighter_id) + ':'
  %br
  = fight.fighter.first_name
%p
  %strong= model_class.human_attribute_name(:opponent_id) + ':'
  %br
  = fight.opponent.first_name

-if !fight.verdict
  = link_to 'start fight', fight_fight_now_path(fight), :class => 'btn btn-default'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_fight_path(fight), :class => 'btn btn-default'
= link_to t('.back', :default => t("helpers.links.back")), fights_path, :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), fight_path(fight), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
.panel
  =fight.relation
